@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* ปุ่ม submit */
.ant-btn-primary {
  color: #fff;
  background: #FF0000;
  border-color: #FF0000;

}
/* ปุ่ม hover submit */
.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background: #7F0000;
  border-color: #7F0000;
}

/* เงาตรงช่อง search */
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  border-color: #7F0000;
  box-shadow: 0 0 0 2px rgb(255 0 0 / 20%);
}
/* hover ตรงช่อง search */
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #ff3232;
  
}
/* เวลาข้างซ้ายของ Timeline */
.ant-timeline.ant-timeline-label .ant-timeline-item-label {

  width: calc(48% - 12px);
 
}
/* status ข้างขวาของ Timeline */
.ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content, .ant-timeline.ant-timeline-right .ant-timeline-item-left .ant-timeline-item-content, .ant-timeline.ant-timeline-label .ant-timeline-item-left .ant-timeline-item-content {
  left: calc(52% - 4px);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
